[Desktop Entry]
Exec=midori %u
Icon=midori
Type=Application
Terminal=false
Name=Midori
GenericName=Web Browser
MimeType=text/html;
StartupNotify=true
Categories=Network;WebBrowser;
X-XFCE-Source=file:///usr/share/applications/midori.desktop
